#
# This file specifics development requirements. To update the requirements.txt
# file run:
#
#    pip-compile dev-requirements.in > dev-requirements.txt
#

# project deps
cython

# tests
pytest
pytest-cov
flake8
tox

# meta
bumpversion
check-manifest
pip-tools
wheel

# docs
Sphinx
watchdog
