include MANIFEST.in
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include README.rst
include LICENSE

recursive-include omp_thread_count *.pyx *.px[di] *.h *.c
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include scripts *

global-exclude __pycache__ *.pyc *.pyo *.so
